{% import '_includes/forms' as forms %}

<p><strong>Plugin Version:</strong> {{ version }}</p>

{{ forms.autosuggestField({
    label: "Dictionary API Key",
    name: 'dKey',
    suggestEnvVars: true,
    value: settings.dKey,
    instructions: 'Enter Merriam-Webster Collegiate&reg; Dictionary API key',
}) }}

{{ forms.autosuggestField({
    label: "Thesaurus API Key",
    name: 'tKey',
    suggestEnvVars: true,
    value: settings.tKey,
    instructions: 'Enter Merriam-Webster Collegiate&reg; Thesaurus API key',
}) }}

<p>API keys must be obtained through <a href="https://dictionaryapi.com/products/index">Merriam-Webster</a></p>
