/* stylelint-disable declaration-property-value-disallowed-list */
/* stylelint-disable indentation */
.ck.ck-lookup-form,
.ck.ck-result-form {
	width: 600px;
	max-width: 100%;
	min-height: 400px;

	& .ck-loader {
		position: absolute;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		z-index: 999;
	}

	.ck-tab-selector {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.ck-sub-tab-selector {
		margin: 10px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}

	.ck-tab {
		flex-grow: 1;
		justify-content: center;
		& .ck-selected {
			color: var(--ck-color-button-on-color);
			background: var(--ck-color-button-on-background);
		}
	}
	.ck-sub-tab {
		&.ck-selected {
			color: var(--ck-color-button-on-color);
			background: var(--ck-color-button-on-background);
		}
	}
	.ck-toolbar__separator {
		background-color: var(--ck-color-base-border);
		width: 1px;
	}
	.ck-word-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 5px;
	}
	.ck-functional-label {
		font-weight: 700;
		line-height: 33px;
		text-decoration: none;
		margin-left: 5px;
		font-size: 22px;
		color: #4a7d95;
	}
	.ck-lookup-form__inputs,
	.ck-lookup-form__actions {
		margin: 20px;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;

		/* The inputs area styles */
		&.ck-lookup-form__inputs {
			/* margin: 20px; */
			input {
				width: 100%;
			}
		}
	}
	.ck-word {
		margin: 20px;
		line-height: 50px;
		font-weight: 700;
		font-size: 32px;
	}
	.ck-phonetic {
		/* margin: 0 20px; */
		font-weight: bold;
		font-size: small;
	}
	.ck-definitions {
		margin: 20px;
		white-space: wrap;
		list-style-type: none;
	}

	.ck-sense-combined-row {
		/* display: flex;
		flex-direction: row;
		gap: 5px; */
		display: flex !important;
		flex-wrap: wrap !important; /* Allow items to wrap onto the next line */
		align-items: flex-start !important;
	}
	.ck-sense-label {
		flex-shrink: 0 !important; /* Prevent the first item from shrinking */
		width: auto !important; /* Ensure it takes up only the space it needs */
		margin-right: 10px !important;
		/* display: flex; */
		/* flex-direction: column; */
		background-color: #f4f4f4;
		/* font-size: 14px; */
		padding: 0.125em 0.3125em;
		font-weight: 600;
		color: #525a5b;
		/* height: fit-content; */
	}
	.ck-definition {
		flex-grow: 1 !important; /* Allow the second item to grow */
		min-width: 0 !important; /* Make sure the text wraps properly */
		word-wrap: break-word !important;
		/* white-space: wrap; */
		& a {
			font-weight: bold;
			font-size: 14px;
			color: #0074cc;
			text-transform: uppercase;
		}
	}
	.ck-pretext,
	.ck-posttext {
		font-style: italic;
	}
	.ck-dt-row {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: start;
		gap: 10px;
	}
	/* & .ck-sense-sequence-container {

  } */
	.ck-sense-sequence {
		display: flex;
		flex-direction: column;
	}

	.ck-sense {
		display: flex;
		flex-direction: column;
		margin-bottom: 6px;
	}
	.ck-sense-prefix {
		display: flex;
		flex-direction: column;
	}
	.ck-sense-indent {
		display: flex;
		flex-direction: row;
		flex-grow: 1;
		/* border-left: 2px solid #827e7e;
		margin-left: 2px; */
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdjyEhL+g8ABJoCMA2iZhsAAAAASUVORK5CYII=');
		background-repeat: repeat-y;
		background-position: center;
		background-size: 2px 100%;
	}
	.ck-sense-content {
		display: flex;
		flex-direction: column;
	}
	.ck-sense-content-row {
		display: flex;
		flex-direction: row;
	}
	.ck-sense-header {
		display: flex;
		flex-direction: row;
	}
	.ck-sense-number {
		font-weight: bold;
		margin: 0 7px;
	}
	.ck-sense-divider {
		font-style: italic;
	}
	.ck-vis-container {
		border-left: 2px solid #827e7e;
		padding-left: 10px;
	}
	.ck-verbal-illustration {
		white-space: normal;
		color: #827e7e;
	}
	/*  .ck-divided-sense {
	} */
	.ck-quotes-block {
		margin-top: 20px;
	}
	.ck-quotes-header {
		border-left: 2px solid #827e7e;
		padding-left: 10px;
		background-color: #d1d1d1;
		p {
			font-size: 14px;
			font-weight: bold;
			span {
				font-style: italic;
			}
		}
	}
	.ck-quotes-body {
		margin: 10px;
	}
	.ck-verb-divider {
		font-weight: 400;
		font-style: italic;
		color: #0074cc;
	}
	.ck-quote {
		padding-left: 10px;
		border-left: 2px solid #b0b0b0;
	}
	.ck-quote-content {
		font-size: 13px;
		white-space: normal;
	}
	.ck-quote-attribution {
		font-size: 12px;
		color: #6b6b6b; /* Grey color */
		font-style: italic;
	}
}
.ck.ck-scrollable-results {
	height: 400px;
	max-height: 100%;
	overflow: scroll;
}

.ck-prs-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	gap: 10px;
	margin: 10px;
}
