/* stylelint-disable declaration-property-value-disallowed-list */
/* stylelint-disable indentation */
.ck.ck-lookup-form,
.ck.ck-result-form {
	width: 600px;
	max-width: 100%;
	min-height: 400px;

	& .ck-loader {
		position: absolute;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		z-index: 999;
	}

	& .ck-tab-selector {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	& .ck-sub-tab-selector {
		margin: 10px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}

	& .ck-tab {
		flex-grow: 1;
		justify-content: center;
		&.ck-selected {
			color: var(--ck-color-button-on-color);
			background: var(--ck-color-button-on-background);
		}
	}
	& .ck-sub-tab {
		&.ck-selected {
			color: var(--ck-color-button-on-color);
			background: var(--ck-color-button-on-background);
		}
	}
	& .ck-toolbar__separator {
		background-color: var(--ck-color-base-border);
		width: 1px;
	}

	& .ck-lookup-form__inputs,
	.ck-lookup-form__actions {
		margin: 20px;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;

		/* The inputs area styles */
		&.ck-lookup-form__inputs {
			/* margin: 20px; */
			input {
				width: 100%;
			}
		}
	}
	& .ck-word {
		margin: 20px;
		font-weight: bold;
		font-size: large;
	}
	& .ck-phonetic {
		/* margin: 0 20px; */
		font-weight: bold;
		font-size: small;
	}
	& .ck-definitions {
		margin: 20px;
		white-space: wrap;
		list-style-type: none;
	}
	& .ck-definition {
		white-space: wrap;
	}
	& .ck-pretext,
	.ck-posttext {
		font-style: italic;
	}
	& .ck-dt-row {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: start;
		gap: 10px;
	}
	/* & .ck-sense-sequence-container {

  } */
	& .ck-sense-sequence {
		display: flex;
		flex-direction: column;
	}
	& .ck-sense {
		display: flex;
		flex-direction: row;
	}
	& .ck-sense-prefix {
		display: flex;
		flex-direction: column;
	}
	& .ck-sense-indent {
		display: flex;
		flex-direction: row;
		flex-grow: 1;
		/* border-left: 2px solid #827e7e;
		margin-left: 2px; */
		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdjyEhL+g8ABJoCMA2iZhsAAAAASUVORK5CYII=");
		background-repeat: repeat-y;
		background-position: center;
		background-size: 2px 100%;
	}
	& .ck-sense-content {
		display: flex;
		flex-direction: column;
	}
	& .ck-sense-content-row {
		display: flex;
		flex-direction: row;
	}
	& .ck-sense-header {
		display: flex;
		flex-direction: row;
	}
	& .ck-sense-number {
		font-weight: bold;
		margin: 0 7px;
	}
	& .ck-sense-divider {
		font-style: italic;
	}
	& .ck-vis-container {
		border-left: 2px solid #827e7e;
		padding-left: 10px;
	}
	& .ck-verbal-illustration {
		white-space: normal;
		color: #827e7e;
	}
	/* & .ck-divided-sense {
	} */
	& .ck-quotes-block {
		margin-top: 20px;
	}
	& .ck-quotes-header {
		border-left: 2px solid #827e7e;
		padding-left: 10px;
		background-color: #d1d1d1;
		p {
			font-size: 14px;
			font-weight: bold;
			span {
				font-style: italic;
			}
		}
	}
	& .ck-quotes-body {
		margin: 10px;
	}
	& .ck-quote {
		padding-left: 10px;
		border-left: 2px solid #b0b0b0;
	}
	& .ck-quote-content {
		font-size: 13px;
		white-space: normal;
	}
	& .ck-quote-attribution {
		color: #b0b0b0;
	}
}

.ck.ck-scrollable-results {
	height: 400px;
	max-height: 100%;
	overflow: scroll;
}

.ck-prs-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	gap: 10px;
	margin: 10px;
}
